.spsldiv {
    border-radius: 1%;
    margin-bottom: 10px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0091ea;
    background-image: linear-gradient(315deg, #0004ea 0%, #0091ea 74%);
}

#da2 {
    display: none;
}

#head1 {
    width: 100%;
    height: 100vh;
    background-color: #0091ea;
    background-image: linear-gradient(315deg, #0004ea 0%, #0091ea 74%);
    display: inline;
    float: left;
    display: none;

}

.logo-here {
    margin: 50% auto;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
}


.logo-here4 {
    /* margin: 50% auto; */
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -125%);
}

.inea {
    margin: 50% auto;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.logo-here2 {

    margin: 50% auto;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}


.btn-s {
    background: #fc8621;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #f9e0ae;
    font-size: 40px;
    /* font-family: 'Cookie', cursive; */
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    margin: auto 6px;
}



.btn-s .circle-s {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-s:hover {
    background: transparent;
}

.btn-s:hover .circle-s {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #f9e0ae;
}

/* * {
    border: 1px red solid;
} */

.spsldiv2 {
    border-radius: 1%;
    margin-bottom: 10px;
    height: 80vh;
    margin-bottom: 5px auto;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50vh;
}


.mails {}

@media screen and (max-width: 500px) {
    #casa{
        display: none;
    }
    .logo-here5 {
        margin: 50% auto;
        color: #fff;
        font-weight: 600;
        font-size: 36px;
        position: absolute;
        left: 50%;
        /* top: 50%; */
        transform: translate(-50%, 170%);
    }

    #da {
        display: none;

    }

    #head1 {
        display: block
    }

    #da2 {
        display: block;
    }


}

/* @media screen and (min-width: 425px) {
    .logo-here2 {
        margin: 50% auto;
        font-weight: 600;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 150%);
    }
} */

@media screen and (max-width: 800px) {
    .spsldiv {
        height: 100vh;
    }

    .spsldiv2 {
        height: 80vh;
        margin-bottom: 30px;

    }
}