
.btn-s {
    background: #fc8621;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #f9e0ae;
    font-size: 40px;
    /* font-family: 'Cookie', cursive; */
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    margin: auto 6px;
  }
  
  .btn-s .circle-s {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn-s:hover {
    background: transparent;
  }
  
  .btn-s:hover .circle-s {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #f9e0ae;
  }