.spsldiv {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg,  #682c0e 0%,#c24914 74%);
}

@media screen and (max-width: 800px) {
    .spsldiv {
        height: 100vh;
    }
}